<div class="row">
  <div class="col-md-8">
    <h2 class="subtitulos"> </h2>
    <h1 class="titulos" style="font-size: 70px !important;">6 SIGMA METHODOLOGIES</h1>
  </div>
  <div class="col-md-4">
    <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-03.png", class: "imageneshome" %>
  </div>
  <hr class="linea">
</div>