

<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">

<p>Help us filling the next fields so we can assign someone of ADS to help you.</p>



<div class="col-md-8 col-md-offset-2">


  <%=	 render 'shared/new', :@contact => Contact.new %>
</div>
    </div>
</div>


