
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
    <div class="row">
           <div class="col-md-8">
                <h2 class="subtitulos"> </h2>
                <h1 class="titulos">ABOUT US </h1>
           </div>
                <div class="col-md-4">
                    <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
                </div>
            <hr class="linea">
    </div>
    <div class="row" style="margin-bottom: 100px">
      <div class="col-md-12">
          <h2 class="subtitulos"> Our History</h2>
        <br/>
        <p>Automated Data Systems has been a company dedicated to create integrated solutions on data collection focuses in Quality, Manufacturing and Engineering.</p>
        <p> It was incorporated in 1988. And is located in Monterrey, México.</p>
        <p> Our company is committed with the creation of custom solutions for responding to our clients necessities.</p>

      </div>
    </div>
    <hr class="linea">
    <div class="row">
      <div class="col-md-6 lineaderecha" >
        <h2 class="subtitulos"> Mission</h2>
        <p>To discover, develop and deliver innovative technologies and methodologies that help clients on having the best quality in their products.
        </p>

      </div>


      <div class="col-md-6">
        <div class="row" style="margin-left: 20px">
            <h2 class="subtitulos"> Vision</h2>
          <p>Being a leader in the LatinAmerican manufacturing industry in its control process for high volume production that facilitates their quality goals with excellence.</p>
        </div>
        <div class="row" style="margin-top: 50px !important; ">
          <div class="col-md-6 col-md-offset-2">
            <%=  image_tag "https://s3.amazonaws.com/adsmex/mision-vision-ads.png"%>
          </div>
        </div>
      </div>


    </div>



  </div>
</div>
