
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
    <div class="row">
           <div class="col-md-8">
                <h2 class="subtitulos">Sobre </h2>
                <h1 class="titulos">NOSOTROS </h1>
           </div>
                <div class="col-md-4">
                    <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
                </div>
            <hr class="linea">
    </div>
    <div class="row" style="margin-bottom: 100px">
      <div class="col-md-12">
          <h2 class="subtitulos"> Nuestra historia</h2>
        <p>Automated Data Systems ha sido una compañía dedicada a la integración de soluciones en la adquisición de datos con un enfoque de Calidad, Manufactura e Ingeniería. Se conforma desde 1988 en la ciudad de Monterrey

          Esta empresa está comprometida con el desarrollo de nuevos productos y servicios que brindan una respuesta adecuada y firme a todo tipo de necesidades.

          Ofrecemos soluciones a sistemas de Colección de Datos en tiempo real aplicados en el Control Estadístico del Proceso con un enfoque discreto y continuo, Sistema para la Administración de Instrumentos de Medición, Desarrollo de Sistemas de Medición a las necesidades reales de operación y precisión, sistema para la documentación de la Ingeniería Concurrente, Sistema para la inspección de atributos visuales, Asesoría, Ventas y Atención Técnica.</p>
      </div>
    </div>
    <hr class="linea">
    <div class="row">
      <div class="col-md-6 lineaderecha" >
        <h2 class="subtitulos"> Misión</h2>
        <p>Automated Data Systems hace el compromiso de satisfacer la necesidad de obtener nivel de excelencia en los estándares de producción para la industria de la transformación latinoamericana en los sectores automotriz, alimentos y medicamentos. Instalando equipos electro-mecánico-computacionales con tecnologia de vanguardia que generen la información de producción  desde los  puestos  de  operadores en la línea de  fabricación y bajo un proceso estadístico, transmitir en tiempo real  a los niveles de autoridad de la estructura organizacional responsables de una toma de decisión oportuna y eficiente en la corrección de desviaciones de sus estándares, con las premisas de protección al medio ambiente  y capacitación continua tanto en forma interna al  personal y en forma externa  a clientes cautivos y potenciales para una sinergia de desarrollo tecnológico  del mercado latinoamericano.</p>

      </div>


      <div class="col-md-6">
        <div class="row" style="margin-left: 20px">
            <h2 class="subtitulos"> Visión</h2>
            <p>Ser lider en la industria de la transformación latinoamericana  en su proceso de control para altos volumenes de producción que les facilite sus metas de  calidad con excelencia.</p>
        </div>
        <div class="row" style="margin-top: 50px !important; ">
          <div class="col-md-6 col-md-offset-2">
            <%=  image_tag "https://s3.amazonaws.com/adsmex/mision-vision-ads.png"%>
          </div>
        </div>
      </div>


    </div>



  </div>
</div>
