
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
    <div class="row">
           <div class="col-md-8">
                <h1 class="titulos">QDA</h1>
           </div>
                <div class="col-md-4">
                    <%=  image_tag "https://s3.amazonaws.com/adsmex/nosotrosimg.png", class: "imageneshome" %>
                </div>
            <hr class="linea">
    </div>
    <div class="row">
      <div class="col-md-12">
          <h2 class="subtitulos"> Todos los Productos</h2>
            <div class="col-md-6">
              <ul class="nav"  style="font-size: 16px; color: #808080">
                <li> <%=	 link_to "QDA", qda_path %>  </li>
                <li> 600 Data Collector</li>
                <li> Gage interfaces </li>
              </ul>
            </div>

      </div>
    </div>
    <hr class="linea">




  </div>
</div>
