
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
    <div class="row">
           <div class="col-md-8">
                <h1 class="titulos" style="font-size: 80px !important;">Augmented Reality</h1>
             <h2 class="subtitulos"> Division  </h2>

           </div>
                <div class="col-md-4">
                    <%=  image_tag "https://s3.amazonaws.com/adsmex/mision-vision-ads.png", class: "imageneshome" %>
                </div>
            <hr class="linea">
    </div>
    <div class="row" style="margin-bottom: 100px">
      <div class="col-md-12">
          <h2 class="subtitulos"> AR Engineering solutions overview</h2>
        <ul class="list-group-item-success">
            <li>Reduces or replaces need for physical prototypes            </li>
            <li>Improved knowledge transfer          </li>
            <li>On time data visualization            </li>
            <li>Early detection of planning faults            </li>
            <li>Visualization of large CAD data without compression            </li>
            <li>Better understanding of complex products and processes          </li>
            <li>Easier comparison of planned vs. actual state          </li>
        </ul>
      </div>
    </div>
    <hr class="linea">
    <div class="row">
      <div class="col-md-6 lineaderecha" >
        <h2 class="subtitulos"> Fields of Application        </h2>
      <ul >
        <li> Visualization of layouts of planned production facilities in real factory buildings        </li>
        <li> Demonstration of functional principles for staff training        </li>
        <li> Support for the dimensioning of machine places and storage areas        </li>
        <li> Detection of interfering edges        </li>
        <li> Revision of the correct quantity and position of vendor parts        </li>
        <li> Assessment of the design of new construction components on the physical product        </li>
        <li> Recognition of assembly spaces and potential foulings during installation tests        </li>
        <li> Projection of virtual manuals and maintenance guidelines on physical objects and environments        </li>
      </ul>

      </div>


      <div class="col-md-6">
        <div class="row" style="margin-left: 20px">
            <h2 class="subtitulos"> ....</h2>
        </div>
        <div class="row" style="margin-top: 50px !important; ">
      
        </div>
      </div>


    </div>



  </div>
</div>
