
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
    <div class="row">
           <div class="col-md-8">
                <h1 class="titulos" style="font-size: 80px !important;">Augmented Reality</h1>
             <h2 class="subtitulos"> Division  </h2>

           </div>
                <div class="col-md-4">
                    <%=  image_tag "https://s3.amazonaws.com/adsmex/mision-vision-ads.png", class: "imageneshome" %>
                </div>
            <hr class="linea">
    </div>
    <div class="row" style="margin-bottom: 100px">
      <div class="col-md-6">
          <h2 class="subtitulos"> AR Engineering solutions overview</h2>
        <ul class="list-group-item-success">
            <li>Virtual protoyping on user’s field of view           </li>
            <li>Improved knowledge transfer        </li>
            <li>On time data visualization          </li>
            <li>Prevention and error detection          </li>
            <li>Visualization of drawings, 3D models, simulations, CAD data            </li>
            <li>Suitable technology for different production áreas     </li>
            <li>Enhancement of user field of view with superimposed virtual information         </li>
        </ul>
      </div>
      <div class="col-md-6">
        <br/>
        <%=  image_tag "http://adsmex.s3.amazonaws.com/Realidad_aumentada.png" %>

      </div>
    </div>
    <hr class="linea">
    <div class="row">
      <div class="col-md-6 lineaderecha ">
        <div class="row" style="margin-left: 20px">

          <%=  image_tag "http://adsmex.s3.amazonaws.com/Realidad_aumentada_2.png" %>

        </div>
      </div>


      <div class="col-md-6 " >
        <h2 class="subtitulos"> Fields of Application        </h2>
          <ul >
            <li> Localization of defective machinery and product failure        </li>
            <li> On time reports (production rates, out of specification product (OOS)     </li>
            <li> On time data on inventories and material location      </li>
            <li> Visual guides for critical and complex assembli   </li>
            <li> Technological assistance on maintenance operations and machine installation       </li>
            <li> Virtual guide and directions inside the plant       </li>
            <li> Knowledge gap reduction between senior and junior technicians     </li>
          </ul>

      </div>




    </div>



  </div>
</div>
