






<div class="col-md-6 col-md-offset-3">
  <p>Muchas gracias. </p>
  <br/>
  <p> Tu mensaje ha sido recibido y nos pondremos en contacto lo antes posible. </p>
  <p> Te invitamos a que le des click al siguiente link para que sigas visitando nuestro sitio. </p>
  <p> Que tengas un buen día </p>



  <%= link_to 'Volver', root_path %>
</div>