<div class="row">
  <div class="col-md-8">
    <h2 class="subtitulos">Nuestros </h2>
    <h1 class="titulos">PRODUCTOS </h1>
  </div>
  <div class="col-md-4">
    <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-01.png", class: "imageneshome" %>
  </div>
  <hr class="linea">
</div>