<div class="row">
  <div class="col-md-8">
    <h2 class="subtitulos"></h2>
    <br/>

    <h1 class="titulos" style="font-size: 85px !important;">OUR PRODUCTS </h1>
  </div>
  <div class="col-md-4">
    <%=  image_tag "https://s3.amazonaws.com/adsmex/Productos+-01.png", class: "imageneshome" %>
  </div>
  <hr class="linea">
</div>