
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
   <%=	 render "productos/titulo" %>
    <div class="row">
      <div class="col-md-12">
        <h2 class="subtitulos"> Todos los Productos</h2>
        <div class="col-md-6">
          <ul class="nav"  style="font-size: 16px; color: #808080">
            <% @productos.each do |x| %>
            <li> <%=	 link_to x.name, x %>  </li>

                <%	 end %>
          </ul>
        </div>

      </div>
    </div>
    <hr class="linea">




  </div>
</div>


<div class="col-md-12">
  <div class="row" style="margin-top: 10px; background-color: #ffffff">
    <div class="row img-responsive" style=" margin-left: 30px; margin-top: 20px ; margin-bottom: 20px ">

      <h2 class="titulocolor">  Conoce la </h2>
      <h1 class="titulocolor"> HISTORIA DEL QDA </h1>
    </div>
    <div class="col-md-10 col-md-offset-1" style="margin-bottom: 40px">
      <%=  image_tag "https://s3.amazonaws.com/adsmex/Historia-QDA.png", class: "img-responsive" %>
    </div>

  </div>
</div>
