// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imageneshome{
  width: 200px;
  height: 150px;
  margin: 10px;
}

.logohome{
  width: 130px;
  height: 70px;
  margin: 10px;
}

.titulos {
  font-size: 90px !important;
  color: #4c73a2;
}

.subtitulos {
  font-size: 40px !important;
  color: #174478;
}

.blanco{
  color: #ffffff;
}

.linea {
  border: 1px solid #dddddd;
  margin: 10px;
}

.lineaderecha {
  border-right: 1px solid #dddddd;

}



.lineaizquierda {
  border-left: 1px solid #dddddd;

}


