



<div class="col-md-12" style="height: 120px; margin-top: 15px ">
 <div class="col-md-10 col-md-offset-1">
  <nav >
    <ul class="nav-pills" style="font-size: 17px !important; text-align: center; color: #747474">
      <li style="padding: 10px; margin-right: 15px">T. +52 81.8374.0034 </li>
      <li style="padding: 10px; margin-right: 15px"> Monterrey N.L</li>
      <li style="padding: 10px; margin-right: 15px">info@adsmex.com </li>
      <li style="padding: 10px; "> www.adsmex.com</li>
    </ul>
  </nav>
 </div>

</div>