
<div class="col-md-12 col-xs-12" style="margin-top: 10px">
  <div class="row" style="margin-top: 10px; background-color: #ffffff">
    <div class="row img-responsive" style=" margin-left: 30px; margin-top: 20px ; margin-bottom: 20px ">

      <h2 class="titulocolor">  GRAPHIC MAP OF</h2>
      <h1 class="titulocolor"> AUTOMATED DATA SYSTEMS </h1>
    </div>
    <div style="margin-bottom: 40px">
      <%=  image_tag "https://s3.amazonaws.com/adsmex/ads-qda-mapa.jpg", class: "img-responsive", usemap: "#Map" %>

      <map name="Map">
        <area shape="poly" coords="50,146,64,192,138,164,115,122" href="<%= root_path  %>">
        <area shape="poly" coords="88,261,111,292,186,216,159,199" href="#">
        <area shape="poly" coords="122,177,134,206,242,159,222,138" href="#">
        <area shape="poly" coords="81,342,93,382,164,358,149,322" href="#">
        <area shape="poly" coords="177,318,213,345,269,279,235,253" href="#">
        <area shape="poly" coords="14,550" href="#">
        <area shape="poly" coords="23,569,19,772,372,766,216,601,213,568" href="#">
        <area shape="poly" coords="335,491,388,515,409,426,355,419" href="#">
        <area shape="poly" coords="421,34,419,78,486,79,482,29" href="#">
        <area shape="poly" coords="714,32,713,75,797,78,792,30" href="#">
        <area shape="poly" coords="1018,26,1025,76,1194,82,1182,22" href="#">
        <area shape="poly" coords="732,295,734,351,817,350,807,290" href="#">
        <area shape="poly" coords="862,377,866,427,945,420,938,369" href="#">
        <area shape="poly" coords="931,499,939,533,968,581,1139,597,1200,581,1187,530,1020,451" href="#">
        <area shape="poly" coords="770,755,768,719" href="#">
        <area shape="poly" coords="810,679,819,549,858,525,904,529,922,563,930,664,977,700,978,751,784,752,790,722" href="<%= realidad_aumentada_path  %>">
        <area shape="poly" coords="568,499,545,447,482,470,462,456,544,387,557,322,599,295,604,196,623,194,635,301,683,327,693,396,771,442,766,460,682,430,643,514" href="#">
      </map>



    </div>






  </div>
</div>



<div class="col-md-12" style="height: 120px; margin-top: 15px ">
 <div class="col-md-10 col-md-offset-1">
  <nav >
    <ul class="nav-pills" style="font-size: 17px !important; text-align: center; color: #747474">
      <li style="padding: 10px; margin-right: 15px">T. +52 81.8374.0034 </li>
      <li style="padding: 10px; margin-right: 15px"> Monterrey N.L</li>
      <li style="padding: 10px; margin-right: 15px">info@adsmex.com </li>
      <li style="padding: 10px; "> www.adsmex.com</li>
    </ul>
  </nav>
 </div>

</div>