



<!-- Sidebar -->
<div id="sidebar-wrapper">





      <ul class="sidebar-nav">

        <li><i > <%= link_to "Tus cursos", cursos_path %></i></li>
        <li><i > <%= link_to "Tus avances", users_path %></i></li>
        <li><i > <%= link_to "Compañeross", users_path %></i></li>
      </ul>



</div>
